.login-page {
  display: flex;
  min-height: 100vh;
  background: #f0f2f5
    url(./../../assets/bg.svg)
    no-repeat center 110px;
  background-size: 100%;
  flex-direction: column;
  text-align: center;
  .login-form{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 150px auto;
  }
  .login-title{
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-left: 15px;
    vertical-align: middle;
  }
  .login-button{
    width: 100%;
  }
}
